<%= simple_form_for(@roles_master) do |f| %>
  <%= f.error_notification %>

<legend>New User Account</legend>
 <div class="container">
  
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-md-3">
            <%= f.input :role_name,class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3">
          <%= f.input :description,class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-3">
         	<%= f.input :status %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-1">
          <%= f.button :submit,"Submit",class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

