<p id="notice"><%= notice %></p>

<h1>Listing Roles Masters</h1>

<table class="table">
  <thead>
    <tr>
      <th>Role name</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles_masters.each do |roles_master| %>
      <tr>
        <td><%= roles_master.role_name %></td>
        <td><%= roles_master.description %></td>
        <td><%= roles_master.status %></td>
        <td><%= link_to 'Show', roles_master %></td>
        <td><%= link_to 'Edit', edit_roles_master_path(roles_master) %></td>
        <td><%= link_to 'Destroy', roles_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roles master', new_roles_master_path %>
