<br/>
<br/>
<br/>
<body>
<h1>New Roles Master</h1>
	<div class="container">
	   <div class="row">
	      <div class="col-md-4 col-xs-4"></div>
	      <div class="col-md-4 col-xs-4"> <%= render 'form' %></div>
	      <div class="col-md-4 col-xs-4"></div>
		</div>
		<div class="row">
		<br/>
			<div class="col-md-4 col-xs-4"></div>
			<div class="col-md-3 col-xs-3"><%= link_to 'Back', roles_masters_path %></div>
			<div class="col-md-4 col-xs-4"></div>
		</div>
  	</div>
</body>
<br/>
<br/>
<br/>
</html>
