<p id="notice"><%= notice %></p>

<p>
  <strong>Role name:</strong>
  <%= @roles_master.role_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @roles_master.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @roles_master.status %>
</p>

<%= link_to 'Edit', edit_roles_master_path(@roles_master) %> |
<%= link_to 'Back', roles_masters_path %>
