<h2>Sign up</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-4"></div>
      <div class="col-md-4 col-xs-4">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :username, required: true, autofocus: true %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>
      </div>
      <div class="col-md-4 col-xs-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-4"></div>
      <div class="col-md-4 col-xs-4">
        <div class="form-actions">
          <%= f.button :submit, "Sign up" ,class:"btn btn-primary"%>
        </div>
      </div>
    <div class="col-md-4 col-xs-4"></div>
    </div>
<% end %>
<div class="col-md-4 col-xs-4"></div>
<div class="col-md-4 col-xs-4">
<%= render "devise/shared/links" %></div>
<div class="col-md-4 col-xs-4"></div>
</div>