<%= simple_form_for(@emp_request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :emp_leave_master_id,collection: @emp_leaves, label_method: lambda {|bb| bb.leave_name}, value_method: :id ,class: "form-control" %>
    <%= f.input :request_date ,class: "form-control"%>
    <%= f.input :status , :as => :hidden, input_html: {value: false}%>
    <%= f.input :end_date , :as => :hidden, input_html: {value: :request_date},class: "form-control"%>
    <%= f.input :return_date, :as => :hidden, input_html: {value: current_user.id} ,class: "form-control"%>
    <%= f.input :return_status, :as => :hidden, input_html: {value: false} ,class: "form-control"%>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Request",class: "btn btn-info" %>
  </div>
<% end %>
