<p id="notice"><%= notice %></p>

<!-- <h1>Listing Emp Requests</h1> -->
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><h3><strong>Listing Emp Requests</strong></h3></div>

    <table class="table">
      <thead>
        <tr>
          <th>Emp leave master</th>
          <th>Request date</th>
          <th>Status</th>
          <th>End date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @emp_requests.each do |emp_request| %>
        <tr>
          <td><%= emp_request.emp_leave_master_id %></td>
          <td><%= emp_request.request_date %></td>
          <td><%= emp_request.status %></td>
          <td><%= emp_request.end_date %></td>
          <td><%= link_to 'Show', emp_request %></td>
          <td><%= link_to 'Edit', edit_emp_request_path(emp_request) %></td>
          <td><%= link_to 'Destroy', emp_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br>
<%= link_to 'Make New Request', new_emp_request_path %>
</div>