<p id="notice"><%= notice %></p>

<p>
  <strong>Emp leave master:</strong>
  <%= @emp_request.emp_leave_master_id %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @emp_request.request_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @emp_request.status %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @emp_request.return_date %>
</p>

<p>
  <strong>Return status:</strong>
  <%= @emp_request.return_status %>
</p>

<%= link_to 'Edit', edit_emp_request_path(@emp_request) %> |
<%= link_to 'Back', emp_requests_path %>
