<%= simple_form_for(@emp_master) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
  <%= f.input :user_id ,as: :hidden,class:"form-control",value: current_user.id%>
    <%= f.input :lastname,class:"form-control" %>
    <%= f.input :othernames ,class:"form-control"%>
    <%= f.input :gender, collection: ["Male","Female"],class:"form-control"%>
    <%= f.input :dob ,class:"form-control"%>
    <%= f.input :marital_status ,class:"form-control"%>
    <%= f.input :religion ,class:"form-control"%>
    <%= f.input :email ,class:"form-control"%>
    <%= f.input :number ,class:"form-control"%>
    <%= f.input :address ,class:"form-control"%>
    <%= f.input :role_id ,class:"form-control"%>
    <%= f.input :photo ,class:"form-control"%>
  </div>

  <div class="col-md-3">
    <%= f.button :submit, "Submit",class:"btn btn-primary"%>
  </div>
<% end %>
