<br/>
<br/>
<br/>
<body>
<h1>Editing Employee Biodata</h1>
<div class="container">
	   <div class="row">
	      <div class="col-md-4 col-xs-4"></div>
	      <div class="col-md-4 col-xs-4"> <%= render 'form' %></div>
	      <div class="col-md-4 col-xs-4"></div>
		</div>
		<div class="row">
		<br/>
			<div class="col-md-4 col-xs-4"></div>
			<div class="col-md-4 col-xs-4">
				<%= link_to 'Show', @emp_master %> |
<%= link_to 'Back', emp_masters_path %></div>
			<div class="col-md-4 col-xs-4"></div>
		</div>
  	</div>
</body>
<br/>
<br/>
<br/>
<body>

