<p id="notice"><%= notice %></p>

<h1>Listing Emp Masters</h1>

<table class="table">
  <thead>
    <tr>
      <th>Lastname</th>
      <th>Othernames</th>
      <th>Gender</th>
      <th>Dob</th>
      <th>Marital status</th>
      <th>Religion</th>
      <th>Email</th>
      <th>Number</th>
      <th>Address</th>
      <th>Role</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emp_masters.each do |emp_master| %>
      <tr>
        <td><%= emp_master.lastname %></td>
        <td><%= emp_master.othernames %></td>
        <td><%= emp_master.gender %></td>
        <td><%= emp_master.dob %></td>
        <td><%= emp_master.marital_status %></td>
        <td><%= emp_master.religion %></td>
        <td><%= emp_master.email %></td>
        <td><%= emp_master.number %></td>
        <td><%= emp_master.address %></td>
        <td><%= emp_master.role_id %></td>
        <td><%= emp_master.photo %></td>
        <td><%= link_to 'Show', emp_master %></td>
        <td><%= link_to 'Edit', edit_emp_master_path(emp_master)  %></td>
        <td><%= link_to 'Destroy', emp_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emp master', new_emp_master_path %>
