<div class="container">
<br />
<br />
<br />
<br />
<br />
<br />
  <div class="row">
    <div class="col-md-4 col-xs-4"></div>
    <div class="col-md-4 col-xs-4">
    <p id="notice"><%= notice %></p>

<p>
  <strong>Lastname:</strong>
  <%= @emp_master.lastname %>
</p>

<p>
  <strong>Othernames:</strong>
  <%= @emp_master.othernames %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @emp_master.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @emp_master.dob %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @emp_master.marital_status %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @emp_master.religion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @emp_master.email %>
</p>

<p>
  <strong>Number:</strong>
  <%= @emp_master.number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @emp_master.address %>
</p>

<p>
  <strong>Role:</strong>
  <%= @emp_master.role_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @emp_master.photo %>
</p>
    </div>
    <div class="col-md-4 col-xs-4"></div>
  </div>
    <div class="col-md-4 col-xs-4"></div>
    <div class="col-md-4 col-xs-4">
<%= link_to 'Edit', edit_emp_master_path(@emp_master) %> |
<%= link_to 'Back', emp_masters_path %>
</div>
    <div class="col-md-4 col-xs-4"></div>
</div>