<%= simple_form_for @emp_health do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :health_master_id,collection:["hosp","doc"] ,input_html:{class:"form-control"}%>
    <%= f.input :answer ,input_html:{class:"form-control"}%>
    <%= f.input :user_id , :as => :hidden ,input_html: {value: current_user.id},class:"form-control"%>
  </div>
  <div class="col-md-3">
    <%= f.button :submit,"Go" ,class:"btn btn-primary"%>
  </div>
<% end %>
