<p id="notice"><%= notice %></p>

<h1>Listing Emp Healths</h1>

<table class="table">
  <thead>
    <tr>
    <div class="col-md-4 col-xs-4">
      </div>
      <div class="col-md-4 col-xs-4">
      <th>Health master</th></div>
      <div class="col-md-4 col-xs-4">
      <th>Answer</th></div>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emp_healths.each do |emp_health| %>
      <tr>
        
        <td><%= emp_health.health_master_id %></td>
        <td><%= emp_health.answer %></td>
        <td><%= link_to 'Show', emp_health %></td>
        <td><%= link_to 'Edit', edit_emp_health_path(emp_health) %></td>
        <td><%= link_to 'Destroy', emp_health, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emp health', new_emp_health_path %>
