<div class="container">
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
	<div class="row">
		<div class="col-md-4 col-xs-4"></div>
		<div class="col-md-4 col-xs-4">
		<p id="notice"><%= notice %></p>

		
		<p>
  			<strong>Health master:</strong>
  			<%= @emp_health.health_master_id %>
		</p>

		<p>
  			<strong>Answer:</strong>
  			<%= @emp_health.answer %>
		</p>
		</div>
		<div class="col-md-4 col-xs-4"></div>
	</div>
		<div class="col-md-4 col-xs-4"></div>
		<div class="col-md-4 col-xs-4">
			<%= link_to 'Edit', edit_emp_health_path(@emp_health) %> |
			<%= link_to 'Back', emp_healths_path %></div>
		<div class="col-md-4 col-xs-4"></div>
</div>