<%= simple_form_for @user, url: update_user_path do |f| %>
  <%= f.error_notification %>

 <div class="form-inputs">
          <%= f.input :username, required: true, autofocus: true %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
          <%#= f.input :role_id, collection: @users,label_method: lambda {|bb| bb.role_name}, value_method: :id,class: "form-control"%>
          <%= f.association :roles_masters, collection: RolesMaster.all, label_method: :role_name, value_method: :id, include_blank: false, label: "Role:", style:"width:100%;", :input_html => {:class => 'form-control dropdown dropdown-toggle', style:"width:100%;float:center;"} %>
        </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" ,class:"btn btn-primary"%>
  </div>
<% end %>
