<%= simple_form_for @user, url: create_users_path do |f| %>
  <%= f.error_notification %>

<legend>New User Account</legend>
 <div class="container">
  
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-md-3">
          <%= f.input :username, required: true, autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3">
          <%= f.input :email, required: true, autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-3">
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-3">
          <%= f.input :password_confirmation, required: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-1">  
          <%= f.input :role_id, collection: @users,label_method: lambda {|bb| bb.role_name}, value_method: :id,class: "form-control"%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-1">
          <%= f.button :submit, "Submit" ,class:"btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
<% end %>

