<h3>Editing User</h3>
<div class="container">
	<div class="row">	
		<div class="col-md-4"></div>
		<div class="col-md-4">
		<%= render 'edit_form' %>

		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', users_path %>
		</div>
		<div class="col-md-4"></div>
	</div>	
</div>