


<div class="container">
	<div class="row">	
		<div class="col-md-4"></div>
		<div class="col-md-4">
		<%= render 'form' %>
		<%= link_to 'Back', users_path %>
		</div>
		<div class="col-md-4"></div>
	</div>	
</div>