<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', user_edit_path(@user) %> |
<%= link_to 'Back', users_path %>
