<h2>Change your password</h2>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-4"></div>
    <div class="col-md-4 col-xs-4">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form-inputs">
        <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
      </div>
    </div>
    <div class="col-md-4 col-xs-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-4"></div>
    <div class="col-md-4 col-xs-4">
    <div class="form-actions">
      <%= f.button :submit, "Change my password" %>
    </div>
    </div>
  </div>
    <div class="col-md-4 col-xs-4"></div>
    <% end %>
    <div class="col-md-4 col-xs-4"></div>
    <div class="col-md-4 col-xs-4"> 
      <%= render "devise/shared/links" %></div>
  <div class="col-md-4 col-xs-4"></div>
</div>