<h2>Forgot your password?</h2>

<div class="container">
	<div class="row">
		<div class="col-md-4 col-xs-4"></div>
		<div class="col-md-4 col-xs-4">
			<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
 			 <%= f.error_notification %>

  		<div class="form-inputs">
   			 <%= f.input :email, required: true, autofocus: true %>
 		 </div>

  		<div class="form-actions">
   			 <%= f.button :submit, "Send",class: "btn btn-primary",style:"width :70px" %>
  		</div>
 		</div>
  	</div>


<% end %>
<br />
<br />
	<div class="col-md-4 col-xs-4"></div>
<div class="col-md-4 col-xs-4">
<%= render "devise/shared/links" %></div>
<div class="col-md-4 col-xs-4"></div>

</div>