<%= simple_form_for(@leave_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :leave_name, class: "form-control" %>
    <%= f.input :num_days, class: "form-control" %>
    <%= f.input :gender, class: "form-control" %>
    <%= f.input :status %>
    <%= f.input :status2 %>
  </div>

  <div class="col-md-3">
    <%= f.button :submit,"Submit",class: "btn btn-primary" %>
  </div>
<% end %>
