<p id="notice"><%= notice %></p>

<h1>Listing Leave Types</h1>

<table class="table">
  <thead>
    <tr>
      <th>Leave name</th>
      <th>Num days</th>
      <th>Gender</th>
      <th>Status</th>
      <th>Status2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leave_types.each do |leave_type| %>
      <tr>
        
        <td><%= leave_type.leave_name %></td>
        <td><%= leave_type.num_days %></td>
        <td><%= leave_type.gender %></td>
        <td><%= leave_type.status %></td>
        <td><%= leave_type.status2 %></td>
        <td><%= link_to 'Show', leave_type %></td>
        <td><%= link_to 'Edit', edit_leave_type_path(leave_type) %></td>
        <td><%= link_to 'Destroy', leave_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leave type', new_leave_type_path %>
