<p id="notice"><%= notice %></p>


<p>
  <strong>Leave name:</strong>
  <%= @leave_type.leave_name %>
</p>

<p>
  <strong>Num days:</strong>
  <%= @leave_type.num_days %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @leave_type.gender %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @leave_type.roles_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @leave_type.status %>
</p>

<p>
  <strong>Status2:</strong>
  <%= @leave_type.status2 %>
</p>

<%= link_to 'Edit', edit_leave_type_path(@leave_type) %> |
<%= link_to 'Back', leave_types_path %>
