
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>


<br />
  <br />
  <br />
  <br />
  <br />
  <br />
<h2>Log in</h2>
<div class="container">

  <div class="row">

    <div class="col-md-4 col-xs-4"></div>
    <div class="col-md-4 col-xs-4">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     
      <div class="form-inputs">
        <%= f.input :username, required: true, autofocus: true, input_html:{class:"form-control"} %>
        <%= f.input :password, required: true,input_html:{class:"form-control"}  %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>
    <div class="col-md-4 col-xs-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-4"></div>
      <div class="col-md-4 col-xs-4">
      <div class="form-actions">
        <%= f.button :submit, "Log in" ,class:"btn btn-success"%>
      </div>
      </div>
    <div class="col-md-4 col-xs-4"></div>
  </div>

<% end %>
<div class="col-md-4 col-xs-4"></div>
<div class="col-md-4 col-xs-4">
<%= render "devise/shared/links" %></div>
<div class="col-md-4 col-xs-4"></div>
</div>