<%= simple_form_for(@emp_leave) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :emp_id, collection: @emp_masters, label_method: lambda {|bb| bb.lastname+" "+bb.othernames}, value_method: :id ,class:"form-control"%>
    <%= f.input :leave_id ,collection: @leave_types, label_method: lambda{|aa|aa.leave_name},value_method: :id,class:"form-control" %>
    <%= f.input :status,class:"form-control" %>
    <%= f.input :start_date ,class:"form-control"%>
    <%= f.input :end_date ,class:"form-control"%>
    <%= f.input :reported_date,class:"form-control" %>
  </div>

  <div class="col-md-3">
    <%= f.button :submit ,"Update", class:"btn btn-primary"%>
  </div>
<% end %>
