<br/>
<br/>
<br/>
<body>
<h1>Editing Employee Leave</h1>
<div class="container">
	   <div class="row">
	      <div class="col-md-4 col-xs-4"></div>
	      <div class="col-md-4 col-xs-4"> <%= render 'form' %></div>
	      <div class="col-md-4 col-xs-4"></div>
		</div>
		<div class="row">
		<br/>
			<div class="col-md-4 col-xs-4"></div>
			<div class="col-md-4 col-xs-4">
				<%= link_to 'Show', @emp_leave %> |
				<%= link_to 'Back', emp_leaves_path %></div>
			<div class="col-md-4 col-xs-4"></div>
		</div>
  	</div>
</body>
</html>


