<p id="notice"><%= notice %></p>

<h1>Listing Emp Leaves</h1>

<table class="table">
  <thead>
    <tr>
      <th>Emp</th>
      <th>Leave</th>
      <th>Status</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Reported date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emp_leaves.each do |emp_leafe| %>
      <tr>
        <td><%= emp_leafe.emp_id %></td>
        <td><%= emp_leafe.leave_id %></td>
        <td><%= emp_leafe.status %></td>
        <td><%= emp_leafe.start_date %></td>
        <td><%= emp_leafe.end_date %></td>
        <td><%= emp_leafe.reported_date %></td>
        <td><%= link_to 'Show', emp_leafe %></td>
        <td><%= link_to 'Edit', edit_emp_leafe_path(emp_leafe) %></td>
        <td><%= link_to 'Destroy', emp_leafe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emp leave', new_emp_leafe_path %>


