<div class="container">
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
  <div class="row">
    <div class="col-md-4 col-xs-4"></div>
    <div class="col-md-4 col-xs-4">
    <p id="notice"><%= notice %></p>

<p>
  <strong>Emp:</strong>
  <%= "#{@emp_leave.emp_master.othernames} #{@emp_leave.emp_master.lastname}" %>
</p>

<p>
  <strong>Leave:</strong>
  <%= @emp_leave.leave_type.leave_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @emp_leave.status %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @emp_leave.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @emp_leave.end_date %>
</p>

<p>
  <strong>Reported date:</strong>
  <%= @emp_leave.reported_date %>
</p>
    </div>
    <div class="col-md-4 col-xs-4"></div>
  </div>
    <div class="col-md-4 col-xs-4"></div>
    <div class="col-md-4 col-xs-4">
<%= link_to 'Edit', edit_emp_leave_path(@emp_leave) %> |
<%= link_to 'Back', emp_leaves_path %>
</div>
    <div class="col-md-4 col-xs-4"></div>
</div>