<%= simple_form_for(@emp_leave_master) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :emp_id, collection: @emp_masters, label_method: lambda{|bb| bb.lastname+" "+bb.othernames}, value_method: :id,class:"form-control"%>
    <%= f.input :leave_id ,collection: @leave_types, label_method: lambda{|aa|aa.leave_name},value_method: :id,class:"form-control"%>
    <%= f.input :status,class:"form-control" %>

    <%= f.input :user_id, :as => :hidden, input_html: {value: current_user.id}, class:"form-control" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,class: "btn btn-info" %>
  </div>
<% end %>


