<p id="notice"><%= notice %></p>

<h1>Listing Emp Leave Masters</h1>

<table>
  <thead>
    <tr>
      <th>Emp</th>
      <th>Leave</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emp_leave_masters.each do |emp_leave_master| %>
      <tr>
        <td><%= emp_leave_master.emp_id %></td>
        <td><%= emp_leave_master.leave_id %></td>
        <td><%= emp_leave_master.status %></td>
        <td><%= emp_leave_master.user_id %></td>
        <td><%= link_to 'Show', emp_leave_master %></td>
        <td><%= link_to 'Edit', edit_emp_leave_master_path(emp_leave_master) %></td>
        <td><%= link_to 'Destroy', emp_leave_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emp leave master', new_emp_leave_master_path %>
