<p id="notice"><%= notice %></p>

<p>
  <strong>Emp:</strong>
  <%= @emp_leave_master.emp_id %>
</p>

<p>
  <strong>Leave:</strong>
  <%= @emp_leave_master.leave_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @emp_leave_master.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @emp_leave_master.user_id %>
</p>

<%= link_to 'Edit', edit_emp_leave_master_path(@emp_leave_master) %> |
<%= link_to 'Back', emp_leave_masters_path %>
