<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<%= simple_form_for(@health_master) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :question,class: "form-control" %>
  </div>

  <div class="col-md-3 col-xs-3">
    <%= f.button :submit,"Submit",class: "btn btn-primary" %>
  </div>
<% end %>
