<br/>
<br/>
<br/>
<body>
<h1>Editing Health Master</h1>
<div class="container">
	   <div class="row">
	      <div class="col-md-4 col-xs-4"></div>
	      <div class="col-md-4 col-xs-4"> <%= render 'form' %></div>
	      <div class="col-md-4 col-xs-4"></div>
		</div>
		<div class="row">
		<br/>
			<div class="col-md-4 col-xs-4"></div>
			<div class="col-md-4 col-xs-4">
				<%= link_to 'Show', @health_master %> |
<%= link_to 'Back', health_masters_path %>
</div>
			<div class="col-md-4 col-xs-4"></div>
		</div>
  	</div>
</body>
</html>


