<p id="notice"><%= notice %></p>

<h1>Listing Health Masters</h1>

<table class="table">
  <thead>
    <tr>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @health_masters.each do |health_master| %>
      <tr>
        <td><%= health_master.question %></td>
        <td><%= link_to 'Show', health_master %></td>
        <td><%= link_to 'Edit', edit_health_master_path(health_master) %></td>
        <td><%= link_to 'Destroy', health_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Health master', new_health_master_path %>
