<div class="container">
<br />
<br />
<br />
<br />
<br />
  <div class="row">
    <div class="col-md-4 col-xs-4"></div>
    <div class="col-md-4 col-xs-4">
    <p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @health_master.question %>
</p>
    </div>
    <div class="col-md-4 col-xs-4"></div>
  </div>
    <div class="col-md-4 col-xs-4"></div>
    <div class="col-md-4 col-xs-4">
<%= link_to 'Edit', edit_health_master_path(@health_master) %> |
<%= link_to 'Back', health_masters_path %>
</div>
    <div class="col-md-4 col-xs-4"></div>
</div>