<%# add navigation links to this file %>

<li><%= link_to 'Home', root_path %></li>
<li class="dropdown">
 <!--  <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true"
     aria-expanded="false">Transactions<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <!--<li>-->
    <!--<%#= link_to "Mobile Money", mm_logs_path %>-->
    <!--</li>-->


    <!--     <li class="dropdown dropdown-submenu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cardless ATM</a>
          <ul class="dropdown-menu">

            <li>
              <%#= link_to "Main Transactions" %>
            </li>

            <li>
              <%#= link_to "Expired Transactions" %>
            </li>
          </ul>
        </li>
  </ul>
</li> -->
<li class="dropdown">
  <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true"
     aria-expanded="false">Forms<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Employee Form",new_emp_master_path %>
    </li>
    
    <li>
      <%= link_to "Health Questionnaire",emp_healths_path %>
    </li>

    <li>
      <%= link_to "Employee Leave Request",emp_requests_path %>
    </li>
   
  </ul>
</li>

<!-- <li class="dropdown">
  <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true"
     aria-expanded="false">Users<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li>
      <%#= link_to "Users",users_path %>
    </li>
  </ul>
</li>
 -->
<li class="dropdown">
  <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true"
     aria-expanded="false">Account<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Edit profile",edit_user_registration_path %>
    </li>

    <li>
      <%= link_to "Log out", destroy_user_session_path , :method=> 'delete' %>
    </li>

  </ul>
</li>

