<div id="wrapper">
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">


    <div id="logo"> <%= link_to 'HR', root_path %></div>
    <!--<div><%#= image_tag '/images/premium.png'%></div>-->
      <ul class="nav navbar-nav navbar-right">


       <% if user_signed_in? %>

	       <% if current_user.admin?%>
  		      <%= render 'layouts/navigation_links' %>
	       <% elsif current_user.user?%>
  		      <%= render 'layouts/navi_emp'%>
  	    <% end %>
       <% end %>

</ul>
</div>
 </header>
</div>