<!DOCTYPE html>
<html>
<head>
  <title>HR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  
  


  <%= render 'layouts/navigation'%>

</head>
<br/>
<br/>
<br/>
<body>
	<div class="container">
  <%= render 'layouts/messages'%>
		<%= yield %>
  	</div>
</body>
</html>
